* @JnMProjects/head-team

apps/Game/ @JnMProjects/noplus-unity-development

apps/Web App/ @JnMProjects/noplus-web-development
apps/Android App/ @JnMProjects/noplus-web-development
apps/iOS App/ @JnMProjects/noplus-web-development
packages/ @JnMProjects/noplus-web-development